.keep-shopping.pv1.mt4.has-text-right
  = link_to 'Keep Shopping', home_path, class: 'button is-warning'
%hr/
%section.section
  .card(style = "margin: 20px 0px;")
    .card-header	
      - @line_items = @order.order_line_items
      .card-body
        - @line_items.each do |line_item|
          .row              
            .card.text-center.col-lg-4.col-md-6(style = "margin: 5px 0px;")          
              = link_to image_tag('drawn-black-cat-reference-514571-4959914_211x211.jpg'), line_item.inventory_item, :class => "img card-img-top"
              .cart-body
                %h5.card-title 
                  =line_item.inventory_item.name
                %h5
                  Price:
                  =number_to_currency line_item.inventory_item.price
            .float-right.mx-auto    
              Quantity:
              =line_item.order_item_qty     
            .float-right.mx-auto                  
              Price:
              =number_to_currency line_item.total_price
                              
  .columns
    .column
      = button_to 'Empty Cart', @order, method: :delete, data: { confirm: "Are you sure? " }, class: "btn button btn-primary "
    %div
      //= button_to 'Check out', @order.update(order_params: @order), class: "btn button btn-success "  
    .column.total.has-text-right.float-right.mx-auto   
      %h4.title.is-4
        %span.f5.has-text-grey Total price:
        = number_to_currency(@order.total_price)